body {
  color: #fff;
  background: linear-gradient(0deg, #18004f, #1c0030);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

#header-bg {
  height: 930px;
  width: 1990px;
  background: url('../svg/header.svg') no-repeat;
  background-position: center -384px;
  background-size: 2890px;
}

#description {
  padding: 0 20px;
  position: relative;
  max-width: 1250px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

#logo {
  max-width: 350px;
  width: 100%;
  height: 280px;
  background: url('../svg/logo.svg') no-repeat;
  text-indent: -999999px;
}
#logo-bg-wrapper,
#header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1020px;
  white-space: nowrap;
  overflow: hidden;
}

#after-header {
  content: '';
  display: block;
  height: 335px;
}

#logo-bg {
  height: 1020px;
  width: 1896px;
  background: url(../svg/logo-bg.svg) no-repeat;
  background-position: center -212px;
  background-size: 1857px;
}
#content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../svg/container-dots.svg') repeat-x;
  background-position-x: 88px;
}
#starfall {
  height: 63px;
  width: 120px;
  max-width: 170px;
  right: -50px;
  top: -100px;
  position: absolute;
  background: url('../svg/starfall.svg') no-repeat;
}
#socials {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 36px;
  margin-top: 25px;
}
.icon {
  height: 64px;
  width: 64px;
  text-indent: -999999px;
}
.icon[data-icon='fb'] {
  background: url(../svg/fb.svg);
}
.icon[data-icon='btc'] {
  background: url(../svg/btc.svg);
}
.icon[data-icon='tg'] {
  background: url(../svg/tg.svg);
}
.icon[data-icon='comment'] {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../svg/comment.svg) no-repeat;
}

.icon[data-icon='mic'] {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background: url(../svg/mic.svg) no-repeat;
}

.icon[data-icon='share'] {
  position: absolute;
  bottom: 20px;
  right: 40px;
  background: url(../svg/share.svg) no-repeat;
}
.icon[data-icon='p2p'] {
  background: url(../svg/p2p.svg) no-repeat;
  height: 164px;
  width: 164px;
}
#email {
  display: flex;
  width: 100%;
  max-width: 885px;
  position: relative;
}
#email__input,
#email__input::placeholder {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
}
#email__input {
  width: 100%;
  background: #2d2b65;
  border: 1px solid #646e99;
  height: 53px;
  border-radius: 10px;
  padding: 0 25px;
}
#email__input:focus {
  outline: none !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
#email__submit {
  height: 51px;
  z-index: 2;
  border-radius: 10px;
  color: #fff;
  width: 195px;
  border: 0;
  background: #28b0d8;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
}
#email__submit:focus {
  outline: none;
}

#footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 75px;
}

#wp {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  line-height: 190px;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  margin-top: 76px;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(0deg, #2bc7ee, #1e6190);
}

#benefit-1,
#benefit-2 {
  height: 207px;
  width: 271px;
}
#benefit-1 {
  background: url('../svg/benefit1.png') no-repeat;
}
#benefit-2 {
  background: url('../svg/benefit2.png') no-repeat;
  background-position: center right;
}

@media only screen and (max-width: 1370px) {
  #starfall {
    top: -35px;
    right: 0;
  }
}

@media only screen and (max-width: 420px) {
  #after-header {
    height: 140px;
  }
  #logo-bg {
    background-position: center -404px;
  }
  #description {
    font-size: 20px;
  }
  #email {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  #email::before {
    display: none;
  }
  #email__input,
  #email__submit {
    width: 100%;
    border-radius: 10px;
  }
  #email__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #email__submit {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media only screen and (max-width: 790px) {
  #footer {
    flex-direction: column;
    align-items: center;
  }
  #footer :nth-child(2) {
    order: 3;
  }
  #footer,
  #wp,
  #benefit-2 {
    margin-top: 35px;
  }
  #benefit-2 {
    background-position: center center;
  }
}
