body {
  color: #fff;
  background: linear-gradient(0deg, #18004f, #1c0030);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 335px;
  width: 100%;
  z-index: 0;
}

#header-bg {
  height: 930px;
  width: 1990px;
  display: flex;
  justify-content: center;
  margin-left: -45px;
  background: url('../svg/header.svg') no-repeat;
  background-size: 150%;
  background-position: center -390px;
}

#description {
  position: relative;
  max-width: 1250px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

#logo {
  width: 350px;
  height: 280px;
  background: url('../svg/logo.svg') no-repeat;
  text-indent: -999999px;
}

#logo-bg {
  height: 1020px;
  width: 1896px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - -3px), calc(-95% - 3px));
  background: url(../svg/logo-bg.svg);
  overflow: hidden;
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../svg/container-dots.svg') repeat-x;
  background-position-x: 88px;
}

#starfall {
  height: 63px;
  width: 170px;
  right: -50px;
  top: -100px;
  position: absolute;
  background: url('../svg/starfall.svg') no-repeat;
}

#socials {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 36px;
  margin-top: 25px;
}

.icon {
  height: 64px;
  width: 64px;
  text-indent: -999999px;
}

.icon[data-icon='fb'] {
  background: url(../svg/fb.svg);
}

.icon[data-icon='btc'] {
  background: url(../svg/btc.svg);
}

.icon[data-icon='tg'] {
  background: url(../svg/tg.svg);
}

.icon[data-icon='comment'] {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../svg/comment.svg) no-repeat;
}

.icon[data-icon='mic'] {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  background: url(../svg/mic.svg) no-repeat;
}

.icon[data-icon='share'] {
  position: absolute;
  bottom: 20px;
  right: 40px;
  background: url(../svg/share.svg) no-repeat;
}

.icon[data-icon='p2p'] {
  background: url(../svg/p2p.svg) no-repeat;
  height: 164px;
  width: 164px;
}

#email {
  display: flex;
  position: relative;
}

#email::before {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  width: 190px;
  background: #060435;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#email__input,
#email__input::placeholder {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
}

#email__input {
  width: 690px;
  background: #060435;
  border: none;
  height: 53px;
  border-radius: 10px;
  padding: 0 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#email__submit {
  height: 53px;
  z-index: 2;
  border-radius: 10px;
  color: #fff;
  width: 190px;
  border: 0;
  background: #050556;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}

#wp {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  line-height: 190px;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  margin-top: 76px;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(0deg, #2bc7ee, #1e6190);
  margin-bottom: 75px;
}

#benefit-1,
#benefit-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 100px;
  width: 270px;
  font-size: 23px;
  text-align: center;
  font-weight: 400;
}

#benefit-1 {
  left: 95px;
}

#benefit-2 {
  right: 95px;
}

#benefit-icons {
  width: 140px;
  height: 140px;
  position: relative;
}

#benefit-2__title {
  margin-top: 20px;
}
